.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  object-fit: contain;
  border-radius: 0.5em;
  background-color: var(--ifm-font-color-base-inverse);
}

.featureCard {
  border-radius: 1em;
  border: 5px solid var(--ifm-background-color-darker);
  background-color: var(--ifm-background-color-lighter);
  padding: 1em 1em 1.5em 1em;
  height: 20em;
  display: flex;
  flex-direction: column;
}
