.display--flex {
  display: flex;
}

.flex--grow {
  flex-grow: 1;
}

.flex--column {
  flex-direction: column;
}

.gap--1 {
  gap: 1rem;
}

.gap--2 {
  gap: 2rem;
}

.gap--3 {
  gap: 3rem;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.image-card img {
  border-radius: 7.5px;
  overflow: hidden;
  box-shadow: 0 0 5px 3px
    color-mix(in srgb, var(--ifm-color-primary) 50%, transparent);
}
